.time-card {
    position: sticky;
    top: 21.5em;
    text-shadow: 1px 1px 10px white;
    right: 1.5em;
    float: right;
    width: 14em;
    padding: 1.4em;
    margin-top: 1.25em;
    clear: right;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.5);
    animation: glow 2s ease-in-out infinite alternate;
}

.time-item {
    color: #ffffff;
    font-size: 1.2em;
    /* 字体大一点 */
    line-height: 1.8;
    text-align: center;
    font-weight: bold 1.8;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 10px white;
}